{% extends "HouseApp/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>АРМ Паспортиста</h1>
    <p class="lead">Приложение создано для учета жильцов ЖСК</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Справочники</h2>
        <p>
            Основные справочники
        </p>
        <ul>
            <li><a class="btn btn-default" href="#">Дома &raquo;</a></li>
            <li><a class="btn btn-default" href="#">Квартиры &raquo;</a></li>
            <li><a class="btn btn-default" href="#">Жильцы &raquo;</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Отчеты</h2>
        <p>Список доступных отчетных форм</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
